body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1, img, p {
    margin: 0;
    padding: 0;
}

.mainBlock {
    width: 900px;
    background-color: rgba(1, 1, 1, 0.6);
    height: calc(100vh);
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;

    color: white;
    box-sizing: border-box;
    /*vertical-align: text-bottom;*/
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

header img {
    float: left;
    margin: 10px 20px;
}

/*header p {*/
    /*margin-top: 20px;*/
/*}*/

section {
    width: 100%;
    height: calc(100% - 160px);
    box-sizing: border-box;
}



footer {
    width: 100%;
    height: 40px;
    color: white;
    font-style: inherit;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
}

footer a {
    color: white;
}

.left {
    width: 150px;
    height: 100%;
    /*height: 100px;*/
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.left img {
    margin-bottom: 10px;
}

.center {
    width: calc(100% - 300px);
    height: 100%;
    /*height: 100px;*/
    float: left;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.center img {
    margin-bottom: 20px;
}

.right {
    width: 150px;
    height: 100%;
    /*height: 100px;*/
    float: right;
    box-sizing: border-box;
    padding: 10px;
}

.right img {
    margin-bottom: 10px;
}







#nav_menu {
    clear: left;
}
#nav_menu ul {
    list-style: none;
    position: relative;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
.secondMenu {
    display: none;
    /*position: absolute;*/
    /*left: 100%;*/
    /*top: 100%;*/
    position: relative;
    /*left: 30px;*/
    top: 200px;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_menu ul {
    margin: 0;
    padding: 0;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 300px;
    padding: .7em 0;
    text-decoration: none;
    background-color: black;
    color: white;
}
#nav_menu ul li a.current {
    color: red;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: gray;
}